<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Review System</title>
    <link href="/Static/styles.css" rel="stylesheet" >
    <style>

.feed{
    padding: 10px;
    border: 0.2px solid #ccc;
    border-radius: 0px;
    margin-top: 20px;
    color:black;
}
    </style>
</head>
<body>

    <header>

        <nav>
            <center><h1 class="feed"><a href="/index">COMPANY REVIEW SYSTEM</a></h1></center>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>

        </nav>
    </header>

</body>
</html>
